.image {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin: 0;
  background-color: #f7edd6;
}

.bttn {
  color: black;
  flex: 1 1 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: transparent;
  border-radius: 8px;
  border: none;
  gap: 1rem;
  margin: 0;
  cursor: pointer;
  max-width: 130px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bttn img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  filter: saturate(70%);
}

.bttn img:hover {
  filter: contrast(110%) blur(0);
  box-shadow: 0 3px 9px maroon;
}

.temple-name {
  margin:0;
  font-size: 1rem;
  color: #0e0e0e;
  line-height: 1.1;
  text-align: center;
}

.temple-name:hover{
  color: maroon;
}

hr {
  width: 93%;
  margin: 1rem auto;
  border: none;
  border-top: 2px solid #6e6363;
}
