#Endowment {
  min-height: 100vh;
  background-color: #f7edd6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem;
  box-sizing: border-box;
}

.Endowment-section-container {
  max-width: 1200px;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.Endowment-heading {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  color: #a84300;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.profile-card {
  background-color: #e9a4769a;
  width: 17rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  padding: 2.4rem 1.7rem;
  text-align: center;
}

.profile-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: auto;
  display: block;
}

.profile-card h5 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
  margin-top: 0.5rem;
}

.card-body p {
  font-size: 0.95rem;
  color: #555;
}
