*,
*::before,
*::after {
  box-sizing: border-box;
}

#Endowment {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem;
  transition: background-color 0.8s ease-in-out;
}

.Endowment-section-container {
  max-width: 1200px;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.Endowment-heading {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--heading-color);
  transition: color 0.8s ease-in-out;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.profile-card {
  background-color: var(--card-color);
  max-width: 17rem;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  padding: 2.4rem 1.7rem;
  text-align: center;
  transition: background-color 0.8s ease, box-shadow 0.8s ease;
}

.profile-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: auto;
  display: block;
}

.profile-card h5 {
  font-weight: 600;
  font-size: 1.2rem;
  color:var(--text-color);
  margin-top: 0.5rem;
  transition: color 0.8s ease-in-out;

}

.profile-card p {
  font-size: 0.95rem;
  color: var(--description-color);
  transition: color 0.8s ease-in-out;

}

@media (max-width: 768px) {
  #Endowment {
    flex-direction: column;
    padding: 2rem 1rem;
    min-height: auto;
    padding-bottom: 4rem;
  }

  .Endowment-heading {
    font-size:1.5rem;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }

  .profile-card {
    max-width: 100%;
    width: 100%;
  }

  .profile-img {
    width: 130px;
    height: 130px;
  }

  .Endowment-heading {
    font-size: 1.5rem;
  }

  .card-body p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }

  .profile-img {
    width: 120px;
    height: 120px;
  }

  .profile-card {
    padding: 1.8rem 1rem;
  }

  .Endowment-heading {
    font-size: 1.3rem;
  }

  .card-body p {
    font-size: 0.88rem;
  }
}
