.footer {
  position: fixed;
  bottom: -20%;
  left: 0;
  width: 100vw;
  background-color: rgb(128, 0, 0);
  padding: 1.5rem 2rem;
  text-align: center;
  color: rgb(240, 230, 189);
  font-family: "Georgia", serif;
  font-size: 1rem;
  box-shadow: 0 -3px 8px rgba(212, 195, 195, 0.1);
  border-radius: 5rem 5rem 0 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out, bottom 0.7s ease-out;
  z-index: 1000;
}

.footer.animate {
  bottom: 0;
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top{
  position: fixed;
  bottom: 5.8rem;
  right: 2rem;
  background-color: transparent;
  color: var(--faq-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 1.6rem;
  box-shadow: var(--card-shadow);
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s ease;
  pointer-events: none;
}

.scroll-to-top.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.scroll-to-top:hover {
  background-color: var(--faq-color);
  color: var(--bg-color);
  transform: translateY(-3px);
}

.scroll-to-top:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .footer {
    border-radius: 0; 
    font-size: 0.9rem;
    padding: 1rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .footer {
    border-radius: 0; 
    font-size: 0.75rem;
    padding: 1rem 1rem;
  }

  .scroll-to-top{
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  background-color: var(--bg-color);
  color: var(--faq-color);
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
}
