.Sevas-banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 65vh;
  background-image: 
    linear-gradient(to top, #f0e8f6 2%, transparent 30%),
    url('../assets/D3.jpg');
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  filter: hue-rotate(100deg) saturate(1.8);
}

.SevasBanner-container {
  text-align: center;
  padding: 2rem;
}

.SevasBanner-caption h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: black;
  filter: hue-rotate(250deg) saturate(1.8);
}

.SevasBanner-caption p {
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  color: #444;
  max-width: 300px;
  margin: 0 auto;
  letter-spacing: 0.5px;
}
