.Sevas-banner-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60vh;
}

.banner-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65vh;
  object-fit: cover;
  background: linear-gradient(to top, #f0e8f6 2%, transparent 30%);
  filter: hue-rotate(100deg) saturate(1.8);
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65vh;
  background: linear-gradient(to top, #f7edd6 1%, transparent 10%);
  pointer-events: none;
  z-index: 1;
}

.SevasBanner-caption h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: black;
  filter: hue-rotate(250deg) saturate(1.8);
  text-align: center;
}

.SevasBanner-caption p {
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  color: #444;
  max-width: 300px;
  margin: 0 auto;
  letter-spacing: 0.5px;
  text-align: center;
}
