.TemplePagebanner-container {
  position: relative;
  width: 93%;
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: auto;
  z-index: 1;
}

.temple-banner-section {
  background:var(--bg-color);
  padding-bottom: 2rem;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease, transform 0.8s ease, background 0.8s ease-in-out;
}

.temple-banner-section.animate {
  opacity: 1;
  transform: scale(1);
}

.TemplePageBanner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1.5px) contrast(1) saturate(1.2);
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: -1;
}

.TemplePageBanner-caption {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  padding: 1rem;
  margin: 0 0 10rem 20rem;
}

.TemplePageBanner-caption h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: rgb(112, 58, 19);
}

.TemplePageBanner-caption p {
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  margin: 0;
  color: black;
}

.temple-search-wrapper {
  position: relative;
  top: -85px;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: -20px;
}

@media (max-width: 768px) {
  .TemplePagebanner-container {
    height: 250px;
    width: 100%;
    border-radius: 0 0 25px 25px;
    box-shadow: none;
  }

  .TemplePageBanner-caption {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -90%);
    padding: 1rem 2rem;
    margin: 0;
  }

  .TemplePageBanner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1.8px) contrast(1) saturate(1.2);
    transition: all 0.3s ease-in-out;

  }

  .TemplePageBanner-caption h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .TemplePageBanner-caption p {
    font-size: 0.95rem;
    color: black;
  }

  .temple-search-wrapper {
    top: -25px;
    padding: 0 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }
}

