.temple-search-container {
  font-family: "Gilroy, arial, Helvetica Neue", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.2rem 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 12px;
  margin: 3rem 0 0 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: background 1s ease-in-out;
}

.temple-search-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.temple-search-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 230px;
  flex: 1 1 100px; 
  overflow: hidden;
}

.temple-search-input {
  width: 100%;
  padding: 0.65rem 2.5rem 0.65rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--faq-color);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s;
  background-color: transparent;
  text-align: left;
  color: var(--faq-color);
}

.temple-search-input:focus {
  border-color: var(--faq-color);
  box-shadow: 0 0 0 2px rgba(146, 26, 2, 0.283);
}

.temple-search-icon-button {
  position: absolute;
  top:50%;
  right: 1px;
  transform: translateY(-50%);
  background: transparent;
  color:var(--primary-color);
  border: none;
  border-radius: 7px;
  padding: 0.71rem 0.55rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease-in, color 0.5s ease-in;
}

.temple-search-icon-button:hover {
  background: transparent;
  color:var(--ts-hover-color);
}

.temple-search-icon-button svg {
  margin-left: 5px;
  font-size: 1rem;
}

.temple-search-select {
  width: 180px;
  padding: 0.65rem;
  font-size: 1rem;
  border: 1px solid #d4a373;
  border-radius: 8px;
  max-width: 180px;
  flex: 1 1 140px;
  outline: none;
  transition: color 1s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s;
  background-color: transparent;
  text-align: center;
  color: var(--faq-color);
}

.temple-search-select:focus {
  border-color: var(--faq-color);
  box-shadow: 0 0 0 2px rgba(163, 90, 0, 0.2);
  outline: none;
}

.temple-search-select option {
  background-color: var(--bg-color);
  color: var(--faq-color);
  font-size: 1rem;
  text-align: left;
}

.custom-select-wrapper {
  flex: 1 1 140px;
}

.temple-suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; 
  background:var(--bg-color);
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  max-height: 220px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: background 0.8s ease-in-out;
}

.temple-suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
  font-size: 0.95rem;
}

.temple-suggestion-item:hover {
  background: var(--faq-color);
  color: var(--suggestions-hover-color);
}

.scroll-placeholder-wrapper {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  height: 1.5rem;
  display: flex;
  align-items: center;
  pointer-events: none;
  white-space: nowrap;
}

.scroll-placeholder-static {
  font-size: 1rem;
  color: var(--search-scroll-color);
  opacity: 0.8;
  margin-right: 0.3rem;
}

.scroll-placeholder-animated {
  font-size: 1rem;
  color: var(--search-scroll-color);
  font-weight: 500;
  display: inline-block;
  animation: slideUp 2.5s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-40%);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .temple-search-container {
    min-width: 60%;
    padding: 1rem;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .temple-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 2rem 0 0rem 0;
    padding: 0;
  }

  .temple-search-input-wrapper {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .temple-search-select {
    display: none;
  }

  .custom-select-wrapper {
    display: none;
  }

  .temple-suggestions-list {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .temple-search-input,
  .temple-search-select {
    font-size: 0.95rem;
    min-width: 100%;
  }

  .temple-search-container{
    box-shadow: none;
    height: 0px;
  }

  .temple-suggestions-list {
    top: 3.6rem;
    left: 1.2rem;
    width: 87%;
    border-radius: 0 0 20px 20px;
  }
}
