body.dark {
  --bg-color: black;
  --header-color:#2a2a2a;
  --text-color: #f0e6bd;
  --heading-color:#f7edd6;
  --card-color: #2a2a2a;
  --primary-color: #800000;
  --secondary-color: #f7edd6;
  --faq-color: #f0e6bd;
  --link-hover: #ffffff;
  --box-shadow:0 4px 12px #f1efea2b;
  --card-shadow: 0 6px 15px rgb(5, 5, 5);
  --card-hover-shadow:0 10px 20px #f0e6bd2e;
  --card-title-color:#dfd6b5;
  --description-color:#8b8981;
  --card-boder-animate:conic-gradient(#f7edd6 90deg, transparent 90deg);
  --devote-card-icon-filter: brightness(83.5%) saturate(100%) invert(100%) hue-rotate(0deg) contrast(100%);
  --button-bg-color:rgb(77, 75, 73);
  --diety-color:rgba(246, 181, 136, 0.649);
  --location-color:rgb(229, 229, 168);
  --faq-q-color:black;
  --q-hover-focus-bg-color:#f7edd6;
  --q-hover-focus-color:maroon;
  --login-color:#f7edd6;
  --signup-bg:transparent;
  --small-circle:red, orange, yellow;
  --medium-circle:rgb(240, 200, 0), rgba(143, 13, 13, 0.651), rgb(14, 7, 8);
  --large-circle:red, rgb(255, 238, 1), rgb(226, 21, 21), rgb(35, 31, 31);
  --signup-box-shadow:rgba(250, 113, 0, 0.194);
  --signup-header:#f0e6bd;
  --signup-text:#f5e29aa7;
  --signup-input:#f0e6bd;
  --signup-button:yellow;
  --signup-bg-button:rgb(243, 243, 136);
  --logout-signup-hover-bg-btn:rgb(63, 59, 59);
  --visit-link:#f7edd6;
  --pe-form-bg:linear-gradient(135deg,rgb(60, 58, 57), #000000);
  --pe-avatar-edit-delete:#f0e6bd ;
  --radio-color:orange;
  --edit-bg:rgba(242, 213, 179, 0.6);
  --ts-hover-color:#f7edd6;
  --search-scroll-color:#f7edd664;

  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  --bg-color: #f7edd6;
  --header-color:rgba(128, 0, 0, 0.811);
  --text-color: #333;
  --heading-color:#a84300;
  --card-color: rgb(255, 242, 213);
  --primary-color: maroon;
  --secondary-color: #f7edd6;
  --faq-color: maroon;
  --link-hover: black;
  --box-shadow:0 4px 12px rgba(0, 0, 0, 0.1);
  --card-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  --card-hover-shadow:0 10px 20px rgba(0, 0, 0, 0.15);
  --card-title-color:#d32f2f;
  --description-color:#333;
  --card-boder-animate:conic-gradient(maroon 90deg, transparent 90deg);
  --devote-card-icon-filter: sepia(1) saturate(5) hue-rotate(-50deg);
  --button-bg-color:rgb(248, 221, 169);
  --diety-color:black;
  --location-color:#222121;
  --faq-q-color:rgb(249, 231, 200);
  --q-hover-focus-bg-color:maroon;
  --q-hover-focus-color:rgb(238, 208, 152);
  --login-color:maroon;
  --signup-bg:rgba(160, 160, 236, 0.78) 0%, white 100%;
  --small-circle:rgb(54, 169, 211), violet, rgb(243, 158, 172);
  --medium-circle:rgb(124, 124, 224), rgba(238, 86, 238, 0.651), rgba(255, 192, 203, 0.695);
  --large-circle:rgb(136, 136, 223), purple, violet, pink;
  --signup-box-shadow:rgba(0, 0, 0, 0.08);
  --signup-header:purple;
  --signup-text:purple;
  --signup-input:black;
  --signup-button:purple;
  --signup-bg-button:rgb(210, 187, 210);
  --logout-signup-hover-bg-btn:maroon;

  --pe-form-bg:linear-gradient(135deg,rgb(232, 201, 158), #d09b2f);
  --visit-link:orange;
  --pe-avatar-edit-delete: maroon;
  --radio-color:maroon;
  --edit-bg:rgba(0,0,0,0.6);
  --ts-hover-color:orange;
  --search-scroll-color:rgba(128, 0, 0, 0.484);

  background-color: var(--bg-color);
  color: var(--text-color);

}

body.dark header,
body.dark footer {
  background-color: var(--header-color);
}

body,
header,
footer {
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex: 1;
  padding: 2rem;
}